.dark-mode {
    background-color: #121212 !important;
    color: #fff !important;
}

/* Tarjetas */
.dark-mode .card {
    background-color: #1e1e1e !important;
    color: #fff !important;
}

/* Navbar */
.dark-mode .navbar {
    background-color: #1f1f1f !important;
}

/* Listas */
.dark-mode .list-group-item {
    background-color: #1e1e1e !important;
    color: #fff !important;
}

/* Links */
.dark-mode a {
    color: #9cd3ff !important;
}
